{% extends 'base.html' %}

{% block content %}
<h2>List of all Places</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Actions</th>
    </tr>
    {% for place in places %}
    <tr>
        <td>{{ place.name }}</td>
        <td>{{ place.description }}</td>
        <td>{{ place.latitude }}</td>
        <td>{{ place.longitude }}</td>
        <td>
            <a href="{{ url_for('web_update_place', id=place.id) }}">Edit</a>
            <a href="{{ url_for('web_delete_place', id=place.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
